/* Website Colors
Background: #fff
Background 2: #f9f9f9
Dark Background: #333
Acent Color: #099082 
Second Darker Acent Color: #013d59
*/

@font-face {
    font-family: 'BaronNeueBold';
    src: url('media/font/BaronNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('media/font/SourceSansPro-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('media/font/SourceSansPro-Bold.woff') format('woff');
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SourceSansPro', sans-serif;
}

nav {
    background-color: #333;
    overflow: hidden;
    font-family: 'BaronNeueBold', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li.logo {
    margin-right: auto;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #099082;
    border-radius: 4px;
}

nav ul li a.active {
    border-bottom: 2px solid #099082;
}

nav ul li.logo img {
    height: 100px;
    width: auto;
}

nav ul li a.logo-link {
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BaronNeueBold', sans-serif;
}

h1 {
    font-size: 3em;
}

hr {
    border: 2px solid #099082;
    width: 60%;
    margin: 0;
  }

.mainheader {
    color: #fff;
    font-size: 3.5em;
    text-align: left;
    padding: 20px 20px 5px 20px;
}

.pageheader {
    color: #fff;
    font-size: 3em;
    text-align: left;
    padding: 20px 20px 5px 20px;
}

.wd {
    padding: 1px 20px 20px 20px;
    font-size: 1.75em;
    color: #fff;
}

.wdtext {
    padding: 1px 20px 20px 20px;
    font-size: 1.2em;
    color: #fff;
    width: 60%;
    flex-basis: 60%;
}

.honor-text {
    font-size: 0.8em; 
    color: #e6e6e6;
}

.program-title { 
    font-family: 'SourceSansProBold', sans-serif;
}

.background {
    padding: 20px;
    background: url('media/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-family: 'BaronNeueBold', sans-serif;
}

.footer-column {
    flex: 1;
    text-align: center;
}

.footer-logo {
    height: 110px;
    width: auto;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #099082;
}

.footer-column ul li a.active {
    padding: 5px;
    border-bottom: 2px solid #099082;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.medialinks {
    height: 35px;
    width: auto;
    margin: 40px 10px;
}

.medialinks.linkedin:hover {
    content: url('media/linkedin-clicked.png');
}

.medialinks.github:hover {
    content: url('media/github-clicked.png');
}

.medialinks.mail:hover {
    content: url('media/mail-clicked.png');
}

.headshot {
    height: 300px;
    width: auto;
    margin: 20px;
}

.text-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.work-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.section-header {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.section-subtext {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.headerUnderline {
    border: 2px solid #099082;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.work-button {
    font-family: 'SourceSansProBold', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #099082;
    text-decoration: none;
    border-radius: 5px;
    transition: #013d59 0.3s ease;
}

.work-button:hover {
    background-color: #077a6a;
}

.button-container {
    display: flex; 
    justify-content: center;
    gap: 10px; 
}

.about-section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.about-section > div {
    flex: 1;
}

.about-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #099082;
    text-decoration: none;
    border-radius: 5px;
    transition: #013d59 0.3s ease;
}

.about-button:hover {
    background-color: #077a6a;
}

.aboutimage {
    height: 400px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px; 
}

.contact-section {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #013d59;
}

.contact-section > div {
    text-align: center; 
}

.contact-header {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

.contact-subtext {
    font-size: 1.2em;
    color: #f9f9f9;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    color: #f9f9f9;
    margin-bottom: 20px;
}

.contact-info a {
    font-family: 'SourceSansProBold', sans-serif;
    color: #099082;
    text-decoration: none;
}

.about-first-section {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.about-first-section > div {
    flex: 1;
    margin: 0 20px; 
}

.about-second-section {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    text-align: center; 
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.about-second-section > div {
    flex: 1; 
    margin: 0 20px; 
}

.Hobbyimage {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px; 
}